<h1>The Loop</h1>
<div class="jumbotron">
  <p>Kata: Let's loop through sites and check if they offer favicons.
</div>

<div>
  Do sites provide /favicon.ico ?
  <ul>
  <% @sites.each do |site| -%>
    <li><%= site.url %> <% if site.icon.present? %><i class="glyphicon glyphicon-ok"></i><% end %></li>
  <% end -%>
  </ul>
</div>
