<h1>The Loop</h1>
<div class="jumbotron">
  <p>Kata: Let's loop through sites and check if they offer favicons.
</div>

<div>
  Do sites provide /favicon.ico ?
  <ul>
  <%= render partial: "site", collection: @sites, cached: true %>
  </ul>
</div>
